.app {
  height: 779px;
  width: 317px;
  background: #1A1B21;
  margin-left: 116px;
  margin-top: 44px;
}

.infos {
  /* display: flex; */
  flex-direction: column;
}

.infos--name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 21px;
}

.infos--desig {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;
}

.infos--website {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* identical to box height, or 15px */

  text-align: center;

  color: #F5F5F5;
}



body {
  background: #23252C;
}